<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">

  <link rel="shortcut icon" type="image/png" href="img/favicon.png">

  <title>Natours | Exciting tours for adventurous people</title>
</head>

<body>
  <header class="header">
    <div class="logo-box">
      <img src="../../../assets/img/logo1.png" alt="Logo" class="logo">
    </div>

    <div class="text-box">
      <h1 class="heading-primary">
        <span class="heading-primary-main">Prueba de Analista </span>
        <br>
        <span class="heading-primary-sub"> Cíentifico de datos.</span>
      </h1>
      <br>
      <br>
 
     <div class="row justify-content-md-center">
      <button id="b" type="button" class="btn btn-secondary btn-lg" (click)="irLogin()">Conoce más</button>
     </div>
    </div>
  
  </header>


</body>
<div id="copy">
  <p>
    &copy; Felix Otero 2022
  </p>
</div>
</html>